PORT=4000
MONGO_URI=mongodb://mongo:27017/agrosentinel
MQTT_URL=mqtt://mosquitto:1883
MQTT_USERNAME=
MQTT_PASSWORD=
DEVICE_OFFLINE_SECONDS=10
CRITICAL_LEVEL_PCT=20
CORS_ORIGIN=http://localhost:5173
ARCA_ENABLED=false
ARCA_MOCK=true
ARCA_CUIT=30712345678
ARCA_PTO_VTA=1
ARCA_WSFE_URL=https://wswhomo.afip.gov.ar/wsfev1/service.asmx
ARCA_TOKEN=
ARCA_SIGN=
AUTH_JWT_SECRET=change_this_secret
AUTH_JWT_EXPIRES=12h
